*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display:none
}
.car{
    width:50px;
    height:80px;
    position:absolute;
    background:red;
    left:50px;
    bottom:120px;
}